{:deps  {org.clojure/clojure {:mvn/version "1.11.1"}
         io.github.tonsky/datascript-storage-sql {:mvn/version "2.0.0"}
         datascript/datascript                   {:mvn/version "1.6.1"}}
 :paths ["src/main/cljc"]}
