{:deps {:aliases [:cljs-prod :cljs-dev]}

 :nrepl {:port 7888}

 :builds
 {:app
  {:target           :browser
   :output-dir       "resources/public/js/dev"
   :asset-path       "/js/dev"
   :compiler-options {:main            agricola.core
                      :infer-externs   :auto
                      :closure-defines {"re_frame.trace.trace_enabled_QMARK_" true}
                      :optimizations   :none
                      :pretty-print    true
                      :source-map      true}
   :modules          {:base          {:entries [shadow.cljs.bootstrap.env]}
                      :main          {:init-fn    agricola.core/init
                                      :depends-on #{:base}}
                      #_:amno-worker #_ {:entries    [physics.worker]
                                         :depends-on #{:base}
                                         :web-worker true}}
   :devtools
   {:http-root "resources/public"
    :http-port 8080
    ;; :preloads  [day8.re-frame-10x.preload]
    }}

  :test
  {:target    :browser-test
   :test-dir  "resources/public/js/test"
   :ns-regexp "-test$"
   :runner-ns agricola.test
   :devtools  {:http-port 8081
               :http-root "resources/public/js/test"}}}}
